.navigation {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: var(--secunet-lightgray);
  border-left: 10px solid var(--secunet-lightgray);
  transition: 0.5s;
  overflow: hidden;

  .copyright {
    position: absolute;
    left: 0px;
    bottom: 20px;
    padding: 0 10% !important;
    font-size: 0.6em;
    text-align: center;
  }

  .nav-size {
    width: 80px;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li {
      list-style: none;
      position: relative;
      width: 100%;
      border-radius: 30px 0 0 30px;
    }
  }

  .message-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 9px;
    font-size: 0.6em;
    // line-height: 0.7em;
    font-weight: 300;
    color: var(--white);
    background-color: var(--secunet-red);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 18px;
    // height: auto;

    // padding: 4px !important;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.navigation ul li:hover,
.navigation ul li.active {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  padding-left: 35px !important;
  margin-bottom: 60px !important;
  pointer-events: none;
}

a {
  position: relative;
  display: flex;
  text-decoration: none;
  color: var(--secunet-darkgray);
  width: 100%;
}

.navigation li.active a {
  font-weight: 600;
  color: var(--secunet-red);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px !important;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.logo-small {
  position: absolute;
  left: -20px;
  height: 40px;
  width: 40px;
  line-height: 70px;
  opacity: 0;
  transition: 0.5s ease-in;
  z-index: 1;
}

.logo-large {
  opacity: 0;
  transition: 0.7s ease-in;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
