<div class="navigation">
  <ul>
    <li class>
      <a href="#">
        <span class="icon logo-large opacity-1"><img
            src="/assets/img/Secunet_Logo_CD_Farben_105x18.svg" alt="">
        </span>
        <span class="logo-small desktop-only"><img src="/assets/img/Secunet_Logo_small.svg" alt="">
        </span>
        <span class="title"></span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
      <a routerLink="/">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="user">
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="title">Account</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="message">
        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
        <span class="title">Messages</span>
        <span class="message-counter">9+</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="help">
        <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
        <span class="title">Help</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="settings">
        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="title">Settings</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="whatever">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <span class="title">Whatever</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="logging">
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
        <span class="title">Logout</span>
      </a>
    </li>
  </ul>
  <div class="copyright">(c) 2023 by <br> Secunet Health Division</div>
</div>