<div class="konnektor-box">
  <div class="konnektor-box-header">
    <div class="kch-name">1. Konnektor <span> AXP37G-4</span></div>
    <div class="kch-buttons">
      <ion-icon name="play-circle-outline" style="color: var(--secunet-lightgray);"></ion-icon>
      <ion-icon name="stop-circle-outline" style="color: var(--secunet-red);"
        class="cursor-pointer"></ion-icon>
    </div>
  </div>
  <div class="card-box">
    <div class="konnektor-card">
      <div class="icon-box">
        <ion-icon name="timer-outline"></ion-icon>
      </div>
      <div>
        <span class="card-text-default">Online since: </span>
        <span class="card-text-default">2019-01-01</span>
      </div>
    </div>
    <div class="konnektor-card">
      <div class="icon-box">
        <ion-icon name="timer-outline"></ion-icon>
      </div>
      <div>
        <span class="card-text-default">Firmware: </span>
        <span class="card-text-default">v1.056</span><br>
        <span class="card-text-danger">Update available!</span>
      </div>
    </div>
    <div class="konnektor-card">
      <div class="icon-box">
        <ion-icon name="timer-outline"></ion-icon>
      </div>
      <div>
        <span class="card-text-default">Online since: </span>
        <span class="card-text-default">2019-01-01</span>
      </div>
    </div>
    <div class="konnektor-card">
      <div class="icon-box">
        <ion-icon name="timer-outline"></ion-icon>
      </div>
      <div>
        <span class="card-text-default">Online since: </span>
        <span class="card-text-default">2019-01-01</span>
      </div>
    </div>

  </div>
</div>