<div class="recent-logins">
  <div class="card-header">
    <h2>Recent Logins</h2>
  </div>
  <div class="table">
    <div class="tr">
      <div class="td">
        <div class="img-box">
          <img src="/assets/img/wolfgang.jpg" alt="wolfgang">
        </div>
        <div>
          <div class="name">Wolfgang</div>
          <span>Admin eHealth</span>
        </div>

      </div>

      <div class="td"><span>2023-07-28</span><br>11:43:12</div>
    </div>
    <div class="tr">
      <div class="td">
        <div class="img-box">
          <img src="/assets/img/axel.jpg" alt="">
        </div>
      </div>
      <div class="td">
        <h4>Axel</h4>
        <span>CEO</span>
      </div>
      <div class="td">2023-07-28 <br>11:43:12</div>
    </div>
    <tr>
      <td>
        <div class="img-box">
          <img src="/assets/img/david.jpg" alt="">
        </div>
      </td>
      <td>
        <h4>David</h4>
        <span>CTO</span>
      </td>
      <td>2023-07-28 <br>11:43:12</td>
    </tr>
    <tr>
      <td>
        <div class="img-box">
          <img src="/assets/img/jan.jpg" alt="">
        </div>
      </td>
      <td>
        <h4>Jan</h4>
        <span>Head of PM</span>
      </td>
      <td>2023-07-28 <br>11:43:12</td>
    </tr>
    <tr>
      <td>
        <div class="img-box">
          <img src="/assets/img/markus.jpg" alt="">
        </div>
      </td>
      <td>
        <h4>Markus</h4>
        <span>Admin eHealth</span>
      </td>
      <td>
        2023-07-28 <br>11:43:12
      </td>
    </tr>
    <tr>
      <td>
        <div class="img-box">
          <img src="/assets/img/stefan.jpg" alt="">
        </div>
      </td>
      <td>
        <h4>Stefan</h4>
        <span>Junior Front-End Developer</span>
      </td>
      <td><span>2023-07-28</span><br>11:43:12</td>
    </tr>


  </div>
</div>