.recent-logins {
  position: relative;
  display: grid;
  grid-auto-rows: min-content;
  min-height: 500px;
  padding: 20px !important;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: var(--lightgray);
  border: 1px solid var(--gray);

  .card-header h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--secunet-red);
    padding-bottom: 20px !important;
  }
}

.recent-logins .img-box {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--secunet-red);
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
  margin-right: 6px !important;
}

.recent-logins .img-box img {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  .job-title {
    display: flex;
    overflow-wrap: break-word;
    white-space: break-spaces;
    width: fit-content;
    max-width: 70px;
  }
}

.recent-logins .table .tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px !important;
  font-weight: 400;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    inset 4px 4px 13px -3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 10px !important;
  padding: 10px !important;
  height: fit-content;
  background-color: var(--white);

  .name {
    font-size: 10px;
    font-weight: 700;
  }
}

.recent-logins .table .tr:hover {
  background-color: var(--secunet-red);
  color: var(--white);
}

.recent-logins .table .tr:hover .td:first-child {
  border-radius: 15px 0 0 15px;
}

.recent-logins .table .tr:hover .td:last-child {
  border-radius: 0 15px 15px 0;
}

.recent-logins .table {
  .td {
    display: flex;
    align-items: center;
  }
  .tr .td:last-child {
    display: block;
    width: 60px;
  }
}
