<div *ngIf="!showSpinner" class="recent-logins">
  <div class="card-header">
    <h2>Recent Logins</h2>
  </div>
  <div class="table">

    <div class="tr" *ngFor="let user of users">
      <div class="td">
        <div class="img-box">
          <img [src]="user.image_path" alt="user.name">
        </div>
        <div class="name-wrapper">
          <div class="name">{{user.name}}</div>
          <span class="job-title">{{user.title}}</span>
        </div>
      </div>
      <div class="td">
        <span><strong>{{user.last_login_date}}</strong></span><br>{{user.last_login_time}}
      </div>
    </div>

  </div>
</div>